@import "../../scss/_variables.scss";

.token-text {
    position: relative;

    .right-buttons {
        position: absolute;
        display: flex;

        &.right-buttons--large {
            top: 6px;
            right: 6px;
        }
        &.right-buttons--medium {
            top: 1px;
            right: 1px;
        }
    }
    .max-button {
        color: primary-color("500");
        display: inline-flex;
        outline: none;
        margin-top: 2px;
    }
    .select-box {
        display: inline-flex;
        outline: none;
    }
}
