@import "../../scss/_variables.scss";

.token-text {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid light-gray-color("200");
    border-radius: 8px;
    background: light-gray-color("700");

    &.token-text--large {
        padding-right: 5px;
    }

    .token-text-amount {
        flex-grow: 1;
        width: 10%;
        input {
            @include font-settings("body-medium");
            border: none;
            color: dark-gray-color("700");
            padding-right: 0px !important;
        }
    }

    .max-button {
        @include font-settings("capital", "700");
        color: primary-color("600");
        display: inline-flex;
        outline: none;
    }
    .select-box {
        flex-shrink: 0;
        outline: none;
    }
}
