@import "../../scss/classes/all";

// styling for preview page
body {
  font-family: $font-family-base;
  background-color: black;
}

.section{
  width:90%; 
  margin:50px auto;
  padding:30px 40px;
}

.container{
    display:inline-flex;
    flex-direction: column;
    margin:10px;
    max-width: 570px;

    &.hr{
      max-width: none;
    }
}
.group {
  display: inline-flex;
  flex-direction: column;
  padding: 30px;
  border: 1px dashed #7b61ff;
  box-sizing: border-box;
  border-radius: 5px;

  &.hr{
    flex-direction: row;
  }
}

[class*='code-']{
    color: blue;
}

// for color display
.color-container{
  display:flex;
}
.color-block{
  height: 65px;
  flex-grow: 1;
  margin:10px;
  line-height: 65px;
  text-align: center;
  font-weight: map-get($weights, "medium");
  font-size: map-get($font-sizes, "sm");

  &:nth-child(5){
    width: 100px;
  }
}

.block{
  padding: 20px 30px;
  display:inline-flex;
  margin:10px;
}