@import "../../scss/classes/all";

.theme--dark {
  --gray-900: #ffffff;
  --gray-800: #f7f7f8;
  --gray-700: #e7e9eb;
  --gray-600: #c0c3c9;
  --gray-500: #b0b4bb;
  --gray-400: #52555d;
  --gray-300: #292c34;
  --gray-200: #1b1d22;
  --gray-100: #0a0b0d;

  --primary-900: #d2bdf5;
  --primary-800: #c1a5f2;
  --primary-700: #af89ee;
  --primary-600: #996aea;
  --primary-500: #8247e5;
  --primary-400: #693ab9;
  --primary-300: #532e92;
  --primary-200: #402370;
  --primary-100: #2f1a52;

  --secondary-900: #bfe2ea;
  --secondary-800: #a9d8e2;
  --secondary-700: #8eccd9;
  --secondary-600: #71becf;
  --secondary-500: #4fafc4;
  --secondary-400: #408d9e;
  --secondary-300: #32707e;
  --secondary-200: #265560;
  --secondary-100: #1c3f47;

  --success-900: #beebe5;
  --success-800: #a6e3dc;
  --success-700: #8bdad1;
  --success-600: #6cd1c4;
  --success-500: #4ac6b7;
  --success-400: #3ca095;
  --success-300: #2f7e75;
  --success-200: #24615a;
  --success-100: #1a4742;

  --warning-900: #fdddc1;
  --warning-800: #fcd1aa;
  --warning-700: #fbc390;
  --warning-600: #fbb272;
  --warning-500: #f9a151;
  --warning-400: #ca8342;
  --warning-300: #9f6734;
  --warning-200: #7a4f28;
  --warning-100: #593a1d;

  --error-900: #fcbebe;
  --error-800: #fba6a6;
  --error-700: #f98b8b;
  --error-600: #f86c6c;
  --error-500: #f64a4a;
  --error-400: #c73c3c;
  --error-300: #9e2f2f;
  --error-200: #782424;
  --error-100: #591a1a;
}

// styling for preview page
body {
  font-family: $font-family-base;
  @include set-bg("gray", "300");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: set-color("gray", "900");
}

.section {
  width: 90%;
  margin: 50px auto;
  padding: 30px 40px;
  @include shadow("lg");

  &.center {
    display: flex;
    justify-content: center;
  }
}

.section-container {
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
  max-width: 570px;

  &.hr {
    max-width: none;
  }
}
.group {
  display: inline-flex;
  flex-direction: column;
  padding: 30px;
  border: 1px dashed set-color("primary", "500");
  box-sizing: border-box;
  border-radius: 5px;

  &.hr {
    flex-direction: row;
  }
}

[class*="code-"] {
  color: set-color("warning", "500");
}

// for color display
.color-container {
  display: flex;
}
.color-block {
  height: 65px;
  flex-grow: 1;
  margin: 10px;
  line-height: 65px;
  text-align: center;
  @include font-settings("sm", "medium");
  @include corner("sm");
  padding: 10px 0;
  color: transparent;

  &:nth-child(5) {
    width: 100px;
  }
}

.block {
  padding: 20px 30px;
  display: inline-flex;
  margin: 10px;
  color: transparent;
}

.button-container {
  display: flex;
  padding: 20px 0;
  .btn:not(:last-child) {
    margin-right: 20px;
  }
}

// For sample.html
.sample {
  @include corner("rg");
  max-width: 500px;
  margin: 100px auto 0;
  padding: 20px;

  &__btnContainer {
    display: flex;
    margin: 30px 0 0;

    .btn:not(:last-child) {
      margin-right: 20px;
    }
  }

  input {
    margin-bottom: 20px;
  }
}

h1 {
  margin-bottom: 20px;
}
