@import "../../scss/_variables.scss";

.icon {
    display: inline-block;
    height: 24px;
    width: 24px;
}

.profile-icon {
    height: 40px;
    width: 40px;
}

.appmenu-icon {
    height: 44px;
    width: 44px;
}
