@import "../../scss/_variables.scss";

.p-icon {
  height: 24px;
  width: 24px;
  margin: auto;
  fill: var(--icon-color);

  svg {
    height: 24px;
    width: 24px;

    path {
      fill: inherit;
    }
  }

  &.left {
    margin-right: 9px;
  }

  &.right {
    margin-left: 9px;
  }

  //   Icon size reduces for small sized button
  .sm & {
    height: 20px;
    width: 20px;

    svg {
      height: 20px;
      width: 20px;
    }
  }

  //   Icon colour changes for different disabled button state
  :disabled & {
    svg {
      fill: set-color("gray", "400");
    }
  }
}
