@import "../../scss/_variables.scss";

.icon {
    display: inline-block;
    // float: left;
    height: 24px;
    width: 24px;
}

// assuming icons to be svg only

$login-logos: ("metamask");
@each $name in $login-logos {
    .icon-#{$name} {
        background: url(./assets/login/#{$name}.svg) no-repeat;
    }
}

$custom-icons: ("no", "yes");
@each $name in $custom-icons {
    .icon-#{$name} {
        background: url(./assets/custom/#{$name}.svg) no-repeat;
    }
}

$navbar-icons: (
    "back-arrow",
    "close",
    "edit",
    "eye-block",
    "eye",
    "help",
    "menu",
    "no-icon",
    "option",
    "plus",
    "qr",
    "search",
    "send",
    "share"
);
@each $name in $navbar-icons {
    .icon-#{$name} {
        background: url(./assets/navbar/#{$name}.svg) no-repeat;
    }
}

$monochrome-icons: (
    "api",
    "authentication",
    "backup",
    "currency",
    "dashboard",
    "dummy",
    "guide",
    "help",
    "home",
    "logout",
    "matic",
    "matic-explorer",
    "network",
    "new",
    "new-wallet",
    "privacy",
    "qr-code",
    "rename",
    "setting",
    "tokens",
    "transactions",
    "user",
    "wallet",
    "webhook",
    "widget"
);
@each $name in $monochrome-icons {
    .icon-#{$name}-normal {
        background: url(./assets/monochrome/#{$name}/Normal.svg) no-repeat;
    }
    .icon-#{$name}-selected {
        background: url(./assets/monochrome/#{$name}/Selected.svg) no-repeat;
    }
}

$discloser-icons: ("bottom", "left", "right", "top");
@each $name in $discloser-icons {
    .icon-#{$name} {
        background: url(./assets/discloser/#{$name}.svg) no-repeat;
    }
}

$profile-icons: (
    "profile-1",
    "profile-2",
    "profile-3",
    "profile-4",
    "profile-5",
    "profile-6",
    "profile-7",
    "profile-8",
    "profile-9",
    "profile-10",
    "profile-11",
    "profile-12",
    "profile-13"
);
@each $name in $profile-icons {
    .icon-#{$name} {
        background: url(./assets/profile/#{$name}.svg) no-repeat;
        height: 40px;
        width: 40px;
    }
}

// .icon-square {
//     background: light-gray-color("500");
//     border-radius: 8px;
//     height: 64px;
//     width: 64px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
