@import "../../scss/_variables.scss";

.m-header {
    align-items: center;
    background-color: light-gray-color("700");
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 18px 32px;

    // sticky header
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    .header-left {
        display: flex;
        justify-content: center;
        .app-name {
            color: dark-gray-color("500") !important;
            display: inline-block;
            font-size: 23px;
            line-height: 145%;
            margin-top: 3px;
            padding: 6px 6px 6px 0;
        }
    }

    .header-right {
        > * {
            vertical-align: middle;
            margin-left: 12px;
        }

        .icon-count {
            @include font-settings("heading-h4");
            border-radius: 50%;
            color: #ffffff;
            padding: 2px 11px;
            background-color: yellow-color("700");

            &.status--action {
                background-color: primary-color("600");
            }
            &.status--progress {
                background-color: yellow-color("700");
            }
            &.text {
                margin-right: 8px;
            }
        }

        .login-button {
            svg {
                path {
                    fill: #ffffff;
                }
            }
        }
        .transaction-status {
            @include font-settings("body-small");
            color: dark-gray-color("600");
            box-shadow: unset;
            outline: none;
        }
        .metamask-address {
            @include font-settings("body-medium");
            box-shadow: unset;
            outline: none;
        }
        .app-button {
            outline: none;
        }

        .m-dropdown {
            float: left;
            position: relative;
            // overflow: hidden;
            .dropdown-menu {
                background: light-gray-color("700");
                border-radius: 12px;
                box-shadow: 0px 24px 50px rgba(0, 0, 0, 0.15);
                display: none;
                min-height: 540px;
                min-width: 446px;
                position: absolute;
                transform: translate(-50%, 0);
                z-index: 1;

                &.dropdown-transaction-history {
                    max-height: 540px;
                    overflow: scroll;
                    
                    .dropdown-header {
                        @include font-settings("heading-h5");
                        border-bottom: 1px solid #e7e9ee;
                        padding: 20px 0;
                        text-align: center;
                    }

                    > :not(:last-child) {
                        border-bottom: 1px solid #f3f4f7;
                    }
                    .dropdown-body {
                        .transaction-item {
                            color: black; //change it
                            cursor: pointer;
                            padding: 15px;
                            display: flex;
                            align-items: center;
                            .transaction-item-left {
                                position: relative;
                                .transaction-token-icon {
                                    display: inline-flex;
                                    height: 50px;
                                    width: 50px;
                                    justify-content: center;
                                    align-items: center;
                                }
                                .transaction-status-icon {
                                    position: absolute;
                                    right: 0;
                                }
                            }
                            .transaction-item-right {
                                display: inline-flex;
                                flex-direction: column;
                                .transaction-title {
                                    font-size: 14px;
                                    line-height: 20px;
                                    .transaction-type {
                                        text-transform: capitalize;
                                    }
                                    .transaction-amount {
                                        color: primary-color("600");
                                    }
                                }
                                .transaction-subtitle {
                                    display: flex;
                                    align-items: center;
                                    color: dark-gray-color("300");
                                    font-size: 12px;
                                    line-height: 16px;
                                }
                            }
                        }
                    }
                }

                &.dropdown-app-menu {
                    // display: flex;
                    // position: relative;
                    min-height: auto;
                    > :not(:last-child) {
                        border-bottom: 1px solid #f3f4f7;
                    }
                    :hover {
                        background: light-gray-color("500");
                    }
                    .app-item {
                        color: black; //change itÏ
                        cursor: pointer;
                        display: flex;
                        flex-direction: row;
                        padding: 24px;
                        .nuxt-link-component {
                            color: inherit;
                            display: inherit;

                            .app-item-left {
                                margin-right: 24px;
                            }
                            .app-item-right {
                                .app-item-title {
                                    @include font-settings("heading-h5");
                                }
                                .app-item-description {
                                    @include font-settings("body-small", "regular");
                                    color: dark-gray-color("500");
                                }
                            }
                        }
                    }
                }

                &.dropdown-login-component {
                    min-width: 445px;
                    min-height: auto;
                    .profile-info {
                        display: flex;
                        flex-direction: row;
                        margin: 32px;
                        .profile-info-left {
                            display: flex;
                            height: 64px;
                            width: 64px;
                            justify-content: center;
                            align-items: center;
                        }
                        .profile-info-right {
                            margin-left: 20px;
                            .account-name {
                                @include font-settings("body-small");
                                color: black;
                                font-weight: 500;
                            }
                            .account-key {
                                color: dark-gray-color("300");
                                cursor: pointer;
                                background: light-gray-color("500");
                                border-radius: 4px;
                                padding: 9px;
                                margin-top: 10px;
                                font-family: Graphik;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 10px;
                                line-height: 16px;
                            }
                        }
                    }
                    .profile-dropdown-list,
                    .profile-matic-explorer {
                        @include font-settings("body-medium");
                        border-top: 1px solid #f3f4f7;
                        color: dark-gray-color("500");
                        padding: 12px 0px;
                        .profile-dropdown-list-item {
                            align-items: center;
                            cursor: pointer;
                            display: flex;
                            margin: 0 12px;
                            .profile-dropdown-item-icon {
                                margin: 14px 18px 14px 22px;
                            }
                            .profile-dropdown-item-text {
                                // margin-left: 18px;
                                padding: 12px 12px 12px 0;
                            }
                            .selected {
                                display: none;
                            }
                            &:hover {
                                background: light-gray-color("600");
                                border-radius: 4px;
                                color: primary-color("600");
                                .normal {
                                    display: none;
                                }
                                .selected {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }

                .nuxt-link,
                a {
                    :link :visited,
                    :active {
                        color: dark-gray-color("500") !important;
                        text-decoration: inherit;
                        cursor: auto;
                    }
                }
            }
            &:hover .dropdown-transaction-history {
                display: block;
            }
            &:hover .dropdown-app-menu {
                display: block;
            }
            &:hover .dropdown-login-component {
                display: block;
            }
        }
    }
    .display-none {
        display: none;
    }
}
