@import "../../scss/_variables.scss";

.textfield {
    display: flex;
    flex-direction: column;

    .input-field {
        @include font-settings("body-medium");
        border: 1px solid light-gray-color("200");
        border-radius: 8px;
        color: dark-gray-color("700");
        outline: none;

        :active {
            // color: red;
        }
        :focus {
            // border: 1px solid dark-gray-color("100");
            // color: green;
        }
        ::placeholder {
            color: dark-gray-color("100");
        }

        &.has-error {
            border: 1px solid red-color("600");
        }
        &.size--large {
            padding: 15px 16px;
        }
        &.size--medium {
            padding: 10px 12px;
        }
    }

    .hint-text-container {
        display: flex;
        justify-content: space-between;

        .hint-text {
            @include font-settings("caption-small");
            color: dark-gray-color("300");
            flex-grow: 0;
            margin-top: 8px;

            &.has-error {
                color: red-color("600");
            }
        }
        // .hint-text--left {}
        // .hint-text--right {}
    }

    .text-field--icon {
        text-indent: 32px;
    }

    .icon-left--large {
        position: absolute;
        top: 30px;
        left: 32px;
    }
    .icon-left--medium {
        position: absolute;
        top: 26px;
        left: 24px;
    }

    .icon-right--large {
        position: absolute;
        top: 30px;
        right: 32px;
    }
    .icon-right--medium {
        position: absolute;
        top: 26px;
        right: 24px;
    }
}
