:root {
  --container-width: 1140px;
  --gutter-space: 30px;
  --half-gutter-space: calc(var(--gutter-space) / 2);
}

@mixin container {
  padding-left: var(--half-gutter-space);
  padding-right: var(--half-gutter-space);
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
}

@mixin col {
  padding-left: var(--half-gutter-space);
  padding-right: var(--half-gutter-space);
}

.container {
  @include container;
  max-width: var(--container-width);

  &-fluid {
    @include container;
    width: 100%;
  }
}

.row {
  margin-right: calc(var(--half-gutter-space) * -1);
  margin-left: calc(var(--half-gutter-space) * -1);
  display: flex;
  flex-wrap: wrap;

  &.offset{
      justify-content: center;
  }

  [class*="col"] {
    @include col;
  }

  & .col {
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;

    &-1 {
      max-width: 8.33%;
      flex: 0 0 8.33%;
      // shorthand flex: flex-grow, flex-shrink, flex-basis;
    }

    &-2 {
      max-width: 16.66%;
      flex: 0 0 16.66%;
    }

    &-3 {
      max-width: 25%;
      flex: 0 0 25%;
    }

    &-4 {
      max-width: 33.33%;
      flex: 0 0 33.33%;
    }

    &-5 {
      max-width: 41.66%;
      flex: 0 0 41.66%;
    }

    &-6 {
      max-width: 50%;
      flex: 0 0 50%;
    }

    &-7 {
      max-width: 58.33%;
      flex: 0 0 58.33%;
    }

    &-8 {
      max-width: 66.66%;
      flex: 0 0 66.66%;
    }

    &-9 {
      max-width: 75%;
      flex: 0 0 75%;
    }

    &-10 {
      max-width: 83.33%;
      flex: 0 0 83.33%;
    }

    &-11 {
      max-width: 91.66%;
      flex: 0 0 91.66%;
    }

    &-12 {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
}
