:root {
  --container-width: 1140px;
  --gutter-space: 30px;
  --half-gutter-space: calc(var(--gutter-space) / 2);
}

@mixin container {
  padding-left: var(--half-gutter-space);
  padding-right: var(--half-gutter-space);
  margin-left: auto;
  margin-right: auto;
}

@mixin col {
  padding-left: var(--half-gutter-space);
  padding-right: var(--half-gutter-space);
}

.container {
  @include container;
  max-width: var(--container-width);

  &-fluid {
    @include container;
    width: 100%;
  }
}

.row {
  margin-right: calc(var(--half-gutter-space) * -1);
  margin-left: calc(var(--half-gutter-space) * -1);
  display: flex;
  flex-wrap: wrap;

  &.offset {
    justify-content: center;
  }

  [class*="col"] {
    @include col;
    width: 100%;
    max-width: 100%;
    flex-shrink: 0;
  }

  & .col {
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;

    $values: (
      1: 8.33%,
      2: 16.66%,
      3: 25%,
      4: 33.33%,
      5: 41.66%,
      6: 50%,
      7: 58.33%,
      8: 66.66%,
      9: 75%,
      10: 83.33%,
      11: 91.66%,
      12: 100%,
    );

    // for xs and above
    @each $key, $value in $values {
      &-#{$key} {
        max-width: $value;
        flex: 0 0 $value;
        // shorthand flex: flex-grow, flex-shrink, flex-basis;
      }
    }

    // for sm, md, lg and xl
    // breakpoints map is defined in _variables
    @each $name, $breakpoint in $breakpoints {
      @include media-breakpoint-up($name) {
        @each $key, $value in $values {
          &-#{$name}-#{$key} {
            max-width: $value;
            flex: 0 0 $value;
          }
        }
      }
    }
  }
}

// Examples of the classes generated
// ------------------------
// .container, .row
// .offset (to be used with .row when columns need to be centered)
// .col-1, .col-2, .col-3, ... .col-11, .col-12
// .col-sm-1, .col-sm-2, .col-sm-3, ..., .col-sm-11, .col-sm-12
// .col-md-1, .col-md-2, .col-md-3, ..., .col-md-11, .col-md-12
// .col-lg-1, .col-lg-2, .col-lg-3, ..., .col-lg-11, .col-lg-12
// .col-xl-1, .col-xl-2, .col-xl-3, ..., .col-xl-11, .col-xl-12

// --container-width and --gutter-space can be overwritten by the developer as per the need.
