@import "./luminance";
// This file imports the luminance function which checks for the luminance (brightness) of
// the colour and helps in providing an accurate color if the background-color is too bright or too dark.

:root {
  --gray-900: #0a0b0d;
  --gray-800: #1b1d22;
  --gray-700: #292c34;
  --gray-600: #52555d;
  --gray-500: #b0b4bb;
  --gray-400: #c0c3c9;
  --gray-300: #dddfe0;
  --gray-200: #f7f7f8;
  --gray-100: #ffffff;

  --primary-900: #2c1752;
  --primary-800: #3c1f70;
  --primary-700: #4e2892;
  --primary-600: #6433b9;
  --primary-500: #7b3fe4;
  --primary-400: #aa84ed;
  --primary-300: #d0baf5;
  --primary-200: #eae0fb;
  --primary-100: #faf7fe;

  --secondary-900: #193d45;
  --secondary-800: #22535e;
  --secondary-700: #2b6d7b;
  --secondary-600: #378a9c;
  --secondary-500: #44aac0;
  --secondary-400: #87c9d7;
  --secondary-300: #bce0e8;
  --secondary-200: #e1f1f5;
  --secondary-100: #f8fcfc;

  --success-900: #16443e;
  --success-800: #1d5d55;
  --success-700: #267a6f;
  --success-600: #319a8d;
  --success-500: #3cbeae;
  --success-400: #82d5cb;
  --success-300: #b9e8e2;
  --success-200: #e0f5f2;
  --success-100: #f7fcfc;

  --warning-900: #593515;
  --warning-800: #7a491d;
  --warning-700: #9e5e25;
  --warning-600: #c9782f;
  --warning-500: #f8943a;
  --warning-400: #faba81;
  --warning-300: #fdd9b8;
  --warning-200: #feeedf;
  --warning-100: #fffbf7;

  --error-900: #531919;
  --error-800: #712222;
  --error-700: #952c2c;
  --error-600: #bc3838;
  --error-500: #e84545;
  --error-400: #f18888;
  --error-300: #f7bcbc;
  --error-200: #fbe1e1;
  --error-100: #fef8f8;
}

// DARK AND LIGHT COLORS
$theme: (
  "gray": (
    "900": var(--gray-900),
    "800": var(--gray-800),
    "700": var(--gray-700),
    "600": var(--gray-600),
    "500": var(--gray-500),
    "400": var(--gray-400),
    "300": var(--gray-300),
    "200": var(--gray-200),
    "100": var(--gray-100),
  ),
  "primary": (
    "900": var(--primary-900),
    "800": var(--primary-800),
    "700": var(--primary-700),
    "600": var(--primary-600),
    "500": var(--primary-500),
    "400": var(--primary-400),
    "300": var(--primary-300),
    "200": var(--primary-200),
    "100": var(--primary-100),
  ),
  "secondary": (
    "900": var(--secondary-900),
    "800": var(--secondary-800),
    "700": var(--secondary-700),
    "600": var(--secondary-600),
    "500": var(--secondary-500),
    "400": var(--secondary-400),
    "300": var(--secondary-300),
    "200": var(--secondary-200),
    "100": var(--secondary-100),
  ),
  "success": (
    "900": var(--success-900),
    "800": var(--success-800),
    "700": var(--success-700),
    "600": var(--success-600),
    "500": var(--success-500),
    "400": var(--success-400),
    "300": var(--success-300),
    "200": var(--success-200),
    "100": var(--success-100),
  ),
  "warning": (
    "900": var(--warning-900),
    "800": var(--warning-800),
    "700": var(--warning-700),
    "600": var(--warning-600),
    "500": var(--warning-500),
    "400": var(--warning-400),
    "300": var(--warning-300),
    "200": var(--warning-200),
    "100": var(--warning-100),
  ),
  "error": (
    "900": var(--error-900),
    "800": var(--error-800),
    "700": var(--error-700),
    "600": var(--error-600),
    "500": var(--error-500),
    "400": var(--error-400),
    "300": var(--error-300),
    "200": var(--error-200),
    "100": var(--error-100),
  ),
);

// function to get color
@function set-color($color, $base) {
  @return map-get(map-get($theme, $color), $base);
}

// mixin to select text color
@mixin text-color($color) {
  @if (luminance($color) >0.5) {
    color: #000;
  } @else {
    color: #fff;
  }
}

// mixin to set background-color;
@mixin set-bg($color, $base) {
  $hex-code: set-color($color, $base);
  background-color: $hex-code;
  // gets a text-color based on luminance of the background color.
  // @include text-color($hex-code);
}
