@import "./colors";

//
// Typography
//

$font-family-base: "Manrope", sans-serif;
$font-family-code: "Courier Prime", monospace;

$weights: (
  "extra-light": 200,
  "light": 300,
  "normal": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extra-bold": 800,
);

@function weight($base) {
  @return map-get($weights, $base);
}

$font-sizes: (
  // 12px
    "xs": 0.75rem,
  // 14px
    "sm": 0.875rem,
  // 16px
    "bs": 1rem,
  // 18px
    "lg": 1.125rem,
  // 20px
    "xl": 1.25rem,
  // 22px
    "2xl": 1.375rem,
  // 25px
    "3xl": 1.5625rem,
  // 28px
    "4xl": 1.75rem,
  // 32px
    "5xl": 2rem,
  // 36px
    "6xl": 2.25rem,
  // 40px
    "7xl": 2.5rem,
  // 45px
    "8xl": 2.8125rem,
  // 60px
    "9xl": 3.75rem
);

@function font-size($base) {
  @return map-get($font-sizes, $base);
}

$line-heights: (
  "leading-3": 12px,
  "leading-4": 16px,
  "leading-5": 20px,
  "leading-6": 24px,
  "leading-7": 28px,
  "leading-8": 32px,
  "leading-9": 36px,
  "leading-10": 40px,
  "leading-11": 48px,
  "leading-none": 100%,
  "leading-tight": 125%,
  "leading-snug": 137.5%,
  "leading-normal": 150%,
  "leading-relaxed": 162%,
  "leading-loose": 200%,
);

@function line-height($base) {
  @return map-get($line-heights, $base);
}

$letter-spacings: (
  "2": 2px,
  "3": 3px,
  "4": 4px,
  "5": 5px,
);

@function letter-spacing($base) {
  @return map-get($letter-spacings, $base);
}

// font setting for font sizes
@mixin font-settings(
  $size,
  $weight,
  $line-height: null,
  $letter-spacing: null
) {
  font-size: font-size($size);
  font-weight: weight($weight);

  @if ($line-height) {
    line-height: line-height($line-height);
  } @else {
    line-height: normal;
  }

  @if ($letter-spacing) {
    letter-spacing: letter-spacing($letter-spacing);
  } @else {
    letter-spacing: normal;
  }
}

// for Code
@mixin code($size, $weight, $display) {
  font-size: font-size($size);
  font-weight: weight($weight);
  display: $display;
  font-family: $font-family-code;
}

// corners
$corners: (
  "sm": 4px,
  "rg": 8px,
  "md": 12px,
  "lg": 16px,
  "xl": 20px,
  "2xl": 24px,
  "full": 9999px,
);

@mixin corner($base) {
  border-radius: map-get($corners, $base);
}

// shadows
$shadows: (
  "sm": 0px 4px 2px rgba(0, 0, 0, 0.02),
  "rg": 0px 4px 8px rgba(0, 0, 0, 0.04),
  "md": 0px 2px 4px rgba(0, 0, 0, 0.08),
  "lg": (
    0px 4px 8px rgba(0, 0, 0, 0.03),
    0px 12px 8px rgba(0, 0, 0, 0.02),
  ),
  "xl": 0px 8px 24px rgba(0, 0, 0, 0.08),
  "2xl": 0px 12px 30px rgba(0, 0, 0, 0.12),
);

@mixin shadow($base) {
  box-shadow: map-get($map: $shadows, $key: $base);
}

// media queries
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// use media-breakpoint-up if taking mobile first approach
@mixin media-breakpoint-up($name) {
  @media (min-width: map-get($breakpoints, $name)) {
    @content;
  }
}

// user media-breakpoint-down if taking desktop first approach
@mixin media-breakpoint-down($name) {
  $max: map-get($breakpoints, $name) - 0.02px;
  @media (max-width: $max) {
    @content;
  }
}
